
.menubar {
	background:linear-gradient(to bottom, #41253F 1%, #5A3358 51%, #41253F 100%)repeat scroll 0% 0% transparent;
}


.myNav>li>a {
	font-weight: bolder;
	color: #FFFFFF;
}

.expanded-headers {
	font-size: small;
	margin-top: 0px;
}


.topDiv{
background:linear-gradient(to bottom, #41253F 1%, #5A3358 51%, #41253F 100%)repeat scroll 0% 0% transparent;

}

.topRightNav>li>a{
    color: #b7a66d
}

.borderRight{
    border-left: 1px solid #000000;
}

.borderLeft{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.midStuff{
background-color:#836D81;

}

.underMid{
border-top: 4px solid #A8A0A5;
border-bottom: 4px solid #A8A0A5;
background: url('resources/promo-nav-bg.png') repeat-x scroll center top #FFF;
}

.footer{
    background-color:#6d6e71;
}
 .footer{
    color:#ffffff;
 }
 
 .midBar{
    font-size: 10px;
    color:#5A3358;
 }
 

